<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/da0xvmq3r/image/upload/v1645200348/movie_ta6gxx.jpg');">
  <div class="container">
    <h1>Movies Watch List</h1>
    <p>Create lists of movies to watch.</p>
    <%= link_to "Create new list", new_list_path, class: "btn btn-flat" %>
  </div>
</div>

<div class="container container-main">
  <h3>My Lists</h3>

  <div class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
      <% @lists.each do |list| %>
        <%= link_to list_path(list), class: 'text-decoration-none' do %>
          <div class="col">
            <div class="card card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
              <%= list.name %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
