<h1>Lists#show</h1>
<p>Find me in app/views/lists/show.html.erb</p>

<%= link_to "Add movie", new_list_bookmark_path(@list), class: 'text-decoration-none' %>

<ul>
  <% @list.movies.each do |movie| %>
  <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <li><%= movie.title %></li>
    <%= link_to "Delete",
            bookmark_path(bookmark),
            method: :delete,
            data: { confirm: "Are you sure?" },
            class: 'text-decoration-none' %>
  <% end %>
</ul>
